# Project exclude paths
/agents-audit/target/
/agents-common/target/
/agents-cred/target/
/agents-installer/target/
/credentialbuilder/target/
/embeddedwebserver/target/
/intg/target/
/jisql/target/
/kms/target/
/ranger-plugin-classloader/target/
/target/

/logs/
*-dev*
/data/
/build/
/packages/
/*/target/

# idea
/.idea/
*/.idea/
*.iml
*/*.iml

# Files for the Dalvik VM
*.dex
